<div id="page-wrapper">

				<div id="header">
						<h1><a href="index.html" id="logo">Unicorn Tool Kit</a></h1>

						<nav id="nav">
							<ul>
								<li class="current"><a href="index.html">Home</a></li>
								<li>
									<a href="wip.html">Pointsets</a>
									<ul>
										<li><a href="wip.html">Cranley Patterson</a></li>
										<li><a href="wip.html">Digital Shift</a></li>
										<li><a href="wip.html">Owen Scrambling</a></li>
									        <!--	<li>
											<a href="wip.html">Submenu</a>
											<ul>
												<li><a href="wip.html">Lorem dolor</a></li>
												<li><a href="wip.html">Phasellus magna</a></li>
												<li><a href="wip.html">Magna phasellus</a></li>
												<li><a href="wip.html">Etiam nisl</a></li>
												<li><a href="wip.html">Veroeros feugiat</a></li>
											</ul>
										</li> -->
									</ul>
								</li>
								<li>
									<a href="wip.html">Samplers</a>
									<ul>
										<li><a href="wip.html">Whitenoise</a></li>
										<li><a href="wip.html">Stratified</a></li>
										<li><a href="wip.html">Regular Grid</a></li>
										<li><a href="wip.html">Sobol</a></li>
										<li><a href="wip.html">Halton</a></li>
										<li><a href="wip.html">Poisson</a></li>
										<li><a href="wip.html">LDBN</a></li>
										<li><a href="wip.html">Digital Sequences</a></li>
										<li><a href="wip.html">NRooks</a></li>
									        <!--	<li>
											<a href="wip.html">Submenu</a>
											<ul>
												<li><a href="wip.html">Lorem dolor</a></li>
												<li><a href="wip.html">Phasellus magna</a></li>
												<li><a href="wip.html">Magna phasellus</a></li>
												<li><a href="wip.html">Etiam nisl</a></li>
												<li><a href="wip.html">Veroeros feugiat</a></li>
											</ul>
										</li> -->
									</ul>
								</li>
								<li>
									<a href="wip.html">Discrepancy</a>
									<ul>
										<li><a href="wip.html">Linf</a></li>
										<li><a href="wip.html">L2</a></li>
										<li><a href="wip.html">Generalized L2</a></li>
										<li><a href="wip.html">Centered L2</a></li>
										<li><a href="wip.html">Unanchored L2</a></li>
										<li><a href="wip.html">Symmetric L2</a></li>
										<li><a href="wip.html">Boundaries Linf</a></li>
									</ul>
								</li>
								<li>
									<a href="wip.html">Spectral</a>
									<ul>
										<li><a href="wip.html">Fourier spectrum</a></li>
									</ul>
								</li>
								<li>
									<a href="wip.html">Statistics</a>
									<ul>
										<li><a href="wip.html">PCF</a></li>
										<li><a href="wip.html">Minimum Distance</a></li>
									</ul>
								</li>
								<li>
									<a href="wip.html">IO</a>
									<ul>
										<li><a href="io_dat.html">.dat</a></li>
										<li><a href="io_bin.html">.bin</a></li>
										<li><a href="io_edat.html">.edat</a></li>
										<li><a href="io_ebin.html">.ebin</a></li>
									</ul>
								</li>
								<li>
									<a href="wip.html">Illustrator</a>
									<ul>
										<li><a href="wip.html">.ps</a></li>
										<li><a href="wip.html">.tikz</a></li>
									</ul>
								</li>
								
								
								
							</ul>
						</nav>

				</div>
		</div>
